@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
    
    padding: 0;
    margin: 0;

}
h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
}
section{
    background-color: white;
    justify-content: space-between;
    padding: 50px;
}
.left-side{
    width: 45%;
}
.right-side{
    width: 45%;
}

img{
    width: 100%;
}
.experience-area{
display: flex;
justify-content: space-between;
padding: auto;
}
/* Navber section start */
.container{
    width: 1280px;
    margin: 0 auto;
}
#navber{
    background-color: #fff; 
    /* hexa code */
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo_icon_container{
    width: 56px;
    height: 56px;
    border-radius: 100%;
    background: rgb(165, 61, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo_icon_container span{
    color: #fff;
    font-family: "Poppins", serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 56px;
    letter-spacing: 0%;
    text-align: left;
}
.logo_name{
    color: rgb(19, 34, 56);
    font-size: 32px;
    font-family: "Work Sans";
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: left;
}
.navber_left_side{
    display: flex;
    align-items: center;
    gap: 12px;
}
.navber_right_side{
    display: flex;
    align-items: center;
    /* gap: 15px; */
}
.navber_link{
    /* padding: 12px 24px 12px 24px */
    padding: 12px 24px;
}
.navber_link span{
    color: rgb(51, 51, 51);
    font-size: 16px;
    font-family: "Work Sans";
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.navber_link_btn{
    padding: 12px 24px;
    border-radius: 4px;
    background-color: rgb(165, 61, 255);
}
.navber_link_btn span{
    color: rgb(255, 255, 255);
    font-family: "Work Sans";
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
}
/* Navber section end */
/* Hero About section start*/
#hero_about{
   
}
/* This is hero */
#hero_about #hero{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
#hero_about #hero .left_side{
 width: 50%;
}
#hero_about #hero .left_side .hero_description{
   padding-bottom: 140px;
}
#hero_about #hero .left_side .hero_description h1{
    color: rgb(19, 34, 56);
    font-family: Work Sans;
    font-size: 72px;
    font-weight: 600;
    line-height: 84px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 24px;
}
#hero_about #hero .left_side .hero_description p{
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 24px;
}
#hero_about #hero .left_side .hero_description button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12;
    padding: 12px 24px 12px 24px;
    border-radius: 4px;
    background: rgb(165, 61, 255);
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;

    border: none;
    cursor: pointer;
}
#hero_about #hero .left_side .statistics{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 20px;
padding: 17px 0px;
border: 1px solid rgb(255, 255, 255);
border-radius: 6px;
background: rgba(237, 216, 255, 0.5);

}
#hero_about #hero .left_side .statistics .statistics_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 0px;
    
}
#hero_about #hero .left_side .statistics .statistics_item h3{
    color: rgb(66, 78, 96);
    font-family: Work Sans;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;

}
#hero_about #hero .left_side .statistics .statistics_item span{
    color: rgb(105, 116, 132);
font-family: Work Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: center;

}
#hero_about #hero .right_side{
 width: 50%;
}

#hero_about #hero .right_side img{
     width: 100%;
     border-radius: 25px;
}
/* This is hero */
#hero_about #about{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    box-shadow: 0px 36px 105px 0px rgba(43, 56, 76, 0.1);
    background: rgb(255, 255, 255);
    gap: 136px;
    padding: 112px;
}
#hero_about #about .left_side{
    position: relative;
}
#hero_about #about .left_side img{
    width: 424px;
    height: 468px;
    border: 1px solid rgb(240, 241, 243);
    border-radius: 10px;
}
#hero_about #about .left_side .social_media{
    position: absolute;
    bottom: +40px;
    display: flex;
    justify-content: center;
    width: 100%;
}
#hero_about #about .left_side .social_media .social_icons{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border-radius: 4px;
    box-shadow: 0px 12px 64px 0px rgba(28, 25, 25, 0.12);
/* Gray/White */
    background: rgb(255, 255, 255);
}
#hero_about #about .left_side .social_media .social_icons .social_icon_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    

}
#hero_about #about .left_side .social_media .social_icons .social_icon_item.active{
    border-radius: 4px;
    box-shadow: 0px 12px 64px 0px rgba(28, 25, 25, 0.12);
    background: rgb(165, 61, 255);
}
#hero_about #about .right_side{}
#hero_about #about .right_side h2{
    color: rgb(19, 34, 56);
font-family: Work Sans;
font-size: 38px;
font-weight: 600;
line-height: 50px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 32px;
}
#hero_about #about .right_side p{
    color: rgb(85, 96, 112);
font-family: Work Sans;
font-size: 18px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 32px;
}
#hero_about #about .right_side .action{
    display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
gap: 16px;
padding: 0px;
}
#hero_about #about .right_side .action .project_btn{
    border-radius: 4px;

/* Primary/500 */
background: rgb(165, 61, 255);
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 12px;
padding: 12px 24px 12px 24px;
/* Body/Regular/600 */
color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 16px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
border: none;
}
#hero_about #about .right_side .action .download_btn{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 12px;
padding: 12px 24px 12px 24px;
    box-sizing: border-box;
    /* Primary/500 */
    border: 1px solid rgb(165, 61, 255);
    border-radius: 4px;
    
    /* Gray/White */
    background: rgb(255, 255, 255);
    /* Body/Regular/600 */
color: rgb(165, 61, 255);
font-family: Work Sans;
font-size: 16px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
     
#hero_about #about .right_side .action .download_btn svg{
 
}
#hero_about #about .right_side .action .download_btn span{
   }
/* Hero About section end*/
/* Work process section start */
#work process{
    padding: 248px 0px 140px 0px;
    /* up right bottom left */
    background: rgb(240, 241, 243);
}
.work process{}
.work_process_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 143px;
}
.work_process_left_side{}

.work_process_title{
    color: rgb(19, 34, 56);
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0%;
    text-align: left;
    margin: 24px 0px;
}
.work_process_description{
    color: rgb(105, 116, 132);
font-family: Work Sans;
font-size: 18px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.work_process_right_side{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.work_process_right_item{
    border-radius: 12px;
box-shadow: 32px 32px 124px 0px rgba(43, 56, 76, 0.1);
/* Gray/White */
background: rgb(255, 255, 255);
gap: 32px;
padding: 32px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
margin-bottom: 25px;
}
.work_process_right_item_first_column{
margin-top: -25px;
}
.work_process_right_item_icon_container{
    border-radius: 6px;

/* Primary/500 */
background: rgb(165, 61, 255);
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
gap: 10;
padding: 20px;

}
.work_process_right_item_icon_container svg{}
.work_process_right_side_item_description{
    display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 12;
padding: 0px;
}
.work_process_right_side_item_description_title{
    color: rgb(19, 34, 56);
font-family: Work Sans;
font-size: 20px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.work_process_right_side_item_description_details{
    /* Body/Regular/400 */
color: rgb(85, 96, 112);
font-family: Work Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
/* Work process section end */

